<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "false"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "true"
        bootstrap                   = "config/bootstrap.php"
        verbose                     = "true"
        timeoutForLargeTests        = "10"
>

    <testsuites>
        <testsuite name="All">
            <directory>vendor/splash/phpcore/Tests/*</directory>
            <directory>tests/*</directory>
        </testsuite>
        <testsuite name="Local">
            <directory>tests/*</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>vendor/splash/phpcore</directory>
            <directory>tests</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <env    name="SYMFONY_DEPRECATION_HELPER" value="disabled" />
        <env    name="APP_ENV" value="test" force="true"/>
        <server name="SERVER_NAME" value="http://localhost:8000"/>
        <const  name="SPLASH_DEBUG" value="true" />
        <server name="SPLASH_TRAVIS" value="true" />

        <!-- Only Test Specified Sequence -->
        <const  name="SPLASH_SEQUENCE"  value="ShippingBo Sandbox" />
<!--        <const  name="SPLASH_TYPES" value="Address" />-->
<!--        <const  name="SPLASH_TYPES" value="Product" />-->
<!--        <const  name="SPLASH_TYPES" value="Order" />-->
<!--        <const  name="SPLASH_FIELDS" value="shippingAddress__phone1" />-->
<!--        <const  name="SPLASH_FIELDS" value="totalPrice" />-->
    </php>

</phpunit>