<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "false"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "true"
        bootstrap                   = "vendor/autoload_runtime.php"
        verbose                     = "true"
        timeoutForLargeTests        = "10"
>

    <testsuites>
        <testsuite name="All">
            <directory>tests/Controller/S00MinimalObjectsTest.php</directory>
            <directory>vendor/splash/phpcore/Tests/*</directory>
<!--            <directory>vendor/splash/php-bundle/phpunit/*</directory>-->
            <directory>tests/*</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS" value="Splash\Toolkit\Kernel" />
        <env    name="SYMFONY_DEPRECATION_HELPER" value="disabled" />
        <env    name="APP_ENV" value="test" force="true"/>
        <server name="SERVER_NAME" value="http://localhost:8000"/>
        <const  name="SPLASH_DEBUG" value="true" />
        <server name="SPLASH_TRAVIS" value="true" />

        <!-- Only Test Specified Sequence -->
        <const  name="SPLASH_SEQUENCE"  value="ShippingBo Sandbox" />
    </php>

</phpunit>